@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  color: white;
  background-color: black;
  margin: 0;
}

button {
  border-radius: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  height: 50px;
  width: 80px;
  border-radius: 4px;
  cursor: pointer;
}

.button-primary {
  background-color: white;
}

.button-primary:hover{
  color: white;
  border: 1px solid white;
}

.button-secondary{
  background-color: black;
  color: white;
}

.button-secondary:hover{
  background-color: white;
  border: 1px solid black;
  color: black;
}

@mixin container {
  font-family: 'Montserrat', sans-serif;
  & > * {
    font-family: inherit;
  }
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}
.error{
  color: red;
}