.book {
  height: 300px;
  text-align: center;
  img {
    position: absolute;
    top:0;
    left:0;
    width: 100%; /* Make image fill the card width */
    height: 100%; /* Keep the image aspect ratio */
  }
  &-overlay{
    position: absolute;
    display: none;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    z-index: 2;
  }
  
  &:hover{
    .book-overlay{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }
}

